<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="color-scheme" content="light dark">
	<meta name="google" value="notranslate">
    <title>Amadeus</title>
</head>
<body>
    <h1>TUBITAK 2209-A PROJECT</h1>
		<p>Muhammed Ali SUBAŞI</p>		
		<p></p>
		<p><a href=https://exam.mhmmdlsubasi.repl.co/work> Proje dosyalarına ulaşmak için tıkla! </a></p>
		<p></p>
		<p><a href=https://exam.mhmmdlsubasi.repl.co/dataset><strike> Grafik çizdirmek için tıkla!  </strike> (YAKINDA...)</a></p>
</body>
</html>